<br><br>
<div class="title">
    <h1>Edit Application</h1>
</div>
<br><br><br><br>

<div class="container ">
    <mat-card class="card mt-8">
        <mat-card-subtitle>
            Applications
        </mat-card-subtitle>
        <form [formGroup]="myform">
            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile [colspan]="2">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input formControlName="Name" matInput maxlength="50" disable>
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </mat-grid-tile>
                
                <mat-grid-tile [colspan]="2">
                    <mat-form-field appearance="outline">
                        <mat-label>Code</mat-label>
                        <input formControlName="Code" matInput maxlength="15">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </mat-grid-tile>
            
                <mat-grid-tile [colspan]="2">
                    <button [disabled]="myform.invalid" class="btnAceptar" mat-raised-button color="primary" (click)="updateApplication()">Save Changes</button>
                    <button class="salir" mat-raised-button color (click)="toList()">Return</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>