.container {
  max-width: 800px;
  margin: auto;
}

.card {
  width: 100%;
}

.three-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-column,
.center-column,
.right-column {
  flex: 1;
  overflow-y: auto;
  max-height: 300px; 
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.permissions-list,
.selected-permissions-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.permissions-header,
.selected-permissions-header {
  display: flex;
  align-items: center;
}

.selected-permissions {
  margin-top: 20px;
  max-height: 200px;
  overflow-y: auto;
}

.selected-permissions-list li,
.permissions-list li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.selected-permissions-list li:last-child,
.permissions-list li:last-child {
  border-bottom: none;
}

.center-column {
  padding: 0 20px; 
}

.button-back {
  padding: 7px;
  width: 10%;
  margin-left: 50px;
  background-color: rgb(221, 179, 87);
  text-align: center;
}
