<br><br>
<div class="title">
    <h1>Detail Application</h1>
</div>
<br><br><br><br>

<app-spinner *ngIf="loading" ></app-spinner>
<div *ngIf="permission != null" class="container">
    <mat-card class="card">
        <mat-card-title>{{ permission.Permission }}</mat-card-title>
        <mat-card-content>
            <p><strong>Section: </strong>{{ permission.NameSection }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="toListPermission()" mat-raised-button>Volver</button>
        </mat-card-actions>
    </mat-card>
</div>

