<br><br>
<div class="title-title">
    <h1>Application Management</h1>
</div>
<br><br><br><br>



<div class="container">
    <a mat-card class="card" (click)="toApp()">
        <mat-card-title></mat-card-title>
        <mat-card-content class="card-content">
            <div class="card-title-container">
                <p class="card-title">Applications</p>
                <img src="assets/aplicacionbw.png" alt="Logo" class="card-image">
            </div>
        </mat-card-content>
    </a>
    <a mat-card class="card" (click)="toModule()">
        <mat-card-title></mat-card-title>
        <mat-card-content class="card-content">
            <div class="card-title-container">
                <p class="card-title">Modules</p>
                <img src="assets/modulo.png" alt="Logo" class="card-image">
            </div>
        </mat-card-content>
    </a>
    <a mat-card class="card" (click)="toSection()">
        <mat-card-title></mat-card-title>
        <mat-card-content class="card-content">
            <div class="card-title-container">
                <p class="card-title">Sections</p>
                <img src="assets/capitulo.png" alt="Logo" class="card-image">
            </div>
        </mat-card-content>
    </a>
    <a mat-card class="card" (click)="toPermission()">
        <mat-card-title></mat-card-title>
        <mat-card-content class="card-content">
            <div class="card-title-container">
                <p class="card-title">Permissions</p>
                <img src="assets/proteger.png" alt="Logo" class="card-image">
            </div>
        </mat-card-content>
    </a>
</div>