<br><br>
<div class="icon-back" (click)="toHome()">
    <img src="assets/home.png" alt="Logo" class="card-image">
    <strong><span>Return</span></strong>
</div>
<div class="title">
    <h1>User Management</h1>
</div>
<br><br><br><br>

<div class="container">
    <a mat-card class="card" (click)="toUser()">
        <mat-card-title></mat-card-title>
        <mat-card-content class="card-content">
            <div class="card-title-container">
                <p class="card-title">Users</p>
                <img src="assets/usuario.png" alt="Logo" class="card-image">
            </div>
        </mat-card-content>
    </a>
    <a mat-card class="card" (click)="toRole()">
        <mat-card-title></mat-card-title>
        <mat-card-content class="card-content">
            <div class="card-title-container">
                <p class="card-title">Roles</p>
                <img src="assets/gerente.png" alt="Logo" class="card-image">
            </div>
        </mat-card-content>
    </a>
    <a mat-card class="card" (click)="toListRolePermission()">
        <mat-card-title></mat-card-title>
        <mat-card-content class="card-content">
            <div class="card-title-container">
                <p class="card-title">Role Permissions</p>
                <img src="assets/administracion.png" alt="Logo" class="card-image">
            </div>
        </mat-card-content>
    </a>
    <a mat-card class="card" (click)="toUserRole()">
        <mat-card-title></mat-card-title>
        <mat-card-content class="card-content">
            <div class="card-title-container">
                <p class="card-title">User Roles</p>
                <img src="assets/servicio-de-administracion.png" alt="Logo" class="card-image">
            </div>
        </mat-card-content>
    </a>
</div>